/******IMPORTS******/
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@import 'https://fonts.googleapis.com/css?family=Abril+Fatface|Averia+Sans+Libre|Covered+By+Your+Grace|Julius+Sans+One|Lato|Luckiest+Guy';
/******GENERAL******/
html {
  width: 100%;
  height: 100%;
}
body {
  background-image: url("../img/logos/bannerredux.jpg");
  width: 100%;
  background-attachment: fixed;
  background-position: center bottom;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
  background-size: cover;
  padding-top: 100px;
  background-color: #333;
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-size: 26px;
}
.mobileBg1 {
  background-image: url("../img/logos/bannerredux.jpg");
  height: 400px;
  width: 100%;
  background-attachment: fixed;
  background-position: center bottom;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
  background-size: cover;
  visibility: hidden;
}
footer {
  font-family: 'Lato', sans-serif;
  text-align: center;
}
h1, h2, h3, h4, h5 {
  font-family: 'Julius Sans One', sans-serif;
  color: #fff;
}
hr {
  border-top: 2px solid #AA814B;
}
/******CONTAINER******/
.social {
  height: 60px;
  display: inline-block;
  padding: 10px;
}
.black {
  -webkit-box-shadow: inset 0px 4px 231px 110px rgba(0,0,0,1);
  -moz-box-shadow: inset 0px 4px 231px 110px rgba(0,0,0,1);
  box-shadow: inset 0px 4px 231px 110px rgba(0,0,0,1);
}
.black1 {
  padding-top: 1000px;
  padding-bottom: 600px;
}
/*.yt {
  margin-left: 30px;
  width: 145px;
}
.tw {
  width: 170px;
}*/
.karin {
  padding-top: 70px;
  height: 200px;
}
.karin1 {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100px;
}
.page-container {
  /*background-color: #000;*/
  color: #fff;
  border-top: none;
  text-shadow: 0px 0px 1px #fff;
}
.bookDiv {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
/******NAVBAR******/

#b-b, #p-i, #i-i {
  font-family: 'Julius Sans One', sans-serif;
  color: #fff;
  font-size: 25px;
  line-height: 100px;
}
.navbar-nav li a {
  height: 100px;
}
.navbar-inverse .navbar-nav>li>a {
  color: #000;
}
.nav {
  height: 70px;
  font-size: 25px;
  font-family: 'Julius Sans One', sans-serif;
}
.navbar {
  border: 0px;

}
.navbar-inverse {
  background-color: #000;
}
.navbar-collapse.in {
  overflow-y: visible;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  border-bottom: 5px solid #AA814B;
  background-color: #000;
  font-weight: 800;
  height: 80px;
  /*padding-top: 8px;*/
}
.navbar-inverse .navbar-nav>li>a {
  padding-top: 2px;
}
.navbar-brand {
  height: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  background-color: #000;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
  color: #000;
}
.navbar-inverse .navbar-nav>li>a:hover{
  background-color: #000;
  font-weight: 800;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border: 0px;
}
.navbar-toggle {
  background-color: #000;
  border: 0px;
}
.icon-bar {
  color: #eee;
}
.navbar-inverse .navbar-toggle {
    border-color: #eee;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: #000;
}
/******JUMBOTRON******/
.jumbotron {
  background-color: #000;
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
  height: 1000px;
}
.jumbo-p {
  margin-top: 0px;
  color: #333;
  font-family: 'Averia Sans Libre', cursive;
}
.arrow, .arrow:hover, .arrow:focus {
  text-decoration: none;
  font-size: 70px;
  color: #fff;
  cursor: pointer;
}
/******SEARCH FIELD******/
.searchField {
  max-width: 500px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}
input.form-control {
  height: 35px;
  font-size: 1.2em;
}
textarea {
  font-size: 1.2em;
}
.book-title, .book-name {
  font-family: 'Open Sans', sans-serif;
}
.partialHeader {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 2px solid #AA814B;
  font-weight: 800;
}
/******SECTIONS******/
/*.parallax1 {
  background-image: url("../img/logos/14423809_10154524985985699_1231568987_o.jpg");

  height: 650px;

  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}*/
.parallax2 {

    /* The image used */
    background-image: url("../img/logos/DSC_6900bw.jpg");

    /* Set a specific height */
    height: 400px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax3 {

    /* The image used */
    background-image: url("../img/logos/keyboard-1395316bw.jpg");

    /* Set a specific height */
    height: 400px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax4 {

    /* The image used */
    background-image: url("../img/logos/book-01bw.jpg");

    /* Set a specific height */
    height: 600px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.adlbs {
  background-color: #e81121;
}
.end {
}
.intro-section {
  height: 1000px;
}
/*.music-section {
  position: relative;
  top: 450px;

}*/
.music-section {
  position: relative;
  top: 700px;
}
.about-section {
  position: relative;
  top: 250px;
}
.info-section {
  position: relative;
  top: 0px;
}
.info1 {
  padding-top: 350px;
  padding-bottom: 600px;
}
.album-img {
  max-width: 600px;
  margin: 0px auto;
  border: 2px solid #111;
  display: inline-block;
}
.bandpost {
  text-align: center;
}
.divider {
  background-color: #4e2d0e;
  width: 256px;
  height: 11px;
  margin-bottom: 20px;
  text-align: center;
  display: inline-block;
}
/******IMAGE RELATED******/
.banderoll {
  width: 100%;
  background-color: #000;
  -webkit-box-shadow: 0px 57px 45px 27px rgba(0,0,0,1);
  -moz-box-shadow: 0px 57px 45px 27px rgba(0,0,0,1);
  box-shadow: 0px 57px 45px 27px rgba(0,0,0,1);

  /*background-image: url(../img/logos/Banner_vectorized.png);
  background-repeat: repeat-x;
  background-size: 105px 25px;*/

  height: 60px;
}
#img-text {
  text-align: center;
  font-size: 4em;
  margin-top: 0px;
  color: #FFF;
  text-shadow: 0px 0px 5px #000;
}
.book-img {
  height: 350px;
}
.img_container {
  margin-top: 0px;
}
.homelogo {
  width: 600px;
}
.img-thumbnail {
  -webkit-box-shadow: 0px 4px 66px 17px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 66px 17px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 66px 17px rgba(0,0,0,0.75);
  border: 0px;
  max-height: 475px;
  padding: 0px;
  background-color: none;
  border-radius: 0px;
  margin-bottom: 20px;
}
.center {
  text-align: center;
}
.center1 {
  text-align: center;
  margin-top: 70px;
}
/****** BUTTONS ******/
.btn:focus {
  outline: none;
}
.searchBtn {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.btn-default {
  font-family: 'Oswald', sans-serif;
  color: #fff;
  background-color: #47BABD;
  border-radius: 4px;
  border: none;
  font-size: 20px;
  outline: none;
}
.buy1 {
  font-size: 32px;
  height: 60px;
  color: #232F3E;
  background-color: #F3A847;
}
.buy1:hover {
  background-color: #BABABA;
}
.buy1:focus {
  background-color: #F3A847;
  color: #232F3E;
}
.buy2 {
  font-size: 32px;
  height: 60px;
  background-color: #e81121;
}
.buy2:hover {
  background-color: #BABABA;
}
.buy2:focus {
  background-color: #e81121;
  color: #fff;
}
/****** GLYPHICONS ******/
.glyphicon {
  top: 2px;
}
.partialHeader .glyphicon {
  top: 0px;
}
.brandhome {
  margin-top: 18px;
  color: #47BABD;
  font-size: 30px;
}
/******MEDIA-QUERIES******/
@media (max-width: 1700px) {
  .music-section {
    top: 750px;
  }
  .info-section {
    top: 100px;
  }
}
@media (max-width: 1600px) {
  .music-section {
    top: 780px;
  }
  .info-section {
    top: 110px;
  }
}
@media (max-width: 1500px) {
  .music-section {
    top: 800px;
  }
  .info-section {
    top: 130px;
  }
}
@media (max-width: 1202px) {
  body {
    background-image: url("../img/logos/bannerredux.jpg");
  }
  .music-section {
    top: 810px;
  }
  .info-section {
    top: 150px;
  }
  .center1 {
    margin-top: 50px;
  }
  #p-i {
    font-size: 20px;
  }
  #b-b, #i-i {
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  .about-section {
    height: 1800px;
  }
  /*.buy {
    font-size: 25px;
    height: 50px;
  }*/
  .center1 {
    margin-top: 0px;
  }
  .partialHeader {
  }
}
@media (max-width: 767px) {
  body {
    padding-top: 50px;
  }
  footer {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .social {
    height: 50px;
  }
  .music-section {
    top: 900px;
  }
  .info-section {
    top: 220px;
  }
  .navbar-brand {
    padding-top: 6px;
    padding-bottom: 0px;
    padding-right: 0px;
    height: 50px;
  }
  .brandhome {
    margin-top: 12px;
    padding-left: 20px;
    color: #AA814B;
    font-size: 25px;
  }
  .nav {
    font-size: 25px;
  }
  .navbar-inverse .navbar-nav>li>a {
    padding-top: 0px;
    background-color: #000;
    height: 70px;
  }
  #b-b, #p-i, #i-i {
    font-size: 25px;
    line-height: 70px;
  }
  .book-img {
    height: 300px;
  }
  .phonePost {
    border-bottom: 2px solid #AA814B;
    padding-bottom: 10px;
  }
  .music-section,
  .about-section,
  .info-section {
    padding-top: 50px;
  }
  .partialHeader {
    padding-top: 10px;
  }
}
@media (max-width: 556px) {

}
@media (max-width: 501px) {

}
@media (max-width: 451px) {

}
@media (max-width: 443px) {
  h2 {
    font-size: 24px;
  }
  body{
    background-image: none;
    width: 100%;
    background-attachment: fixed;
    background-position: center bottom;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
    background-size: cover;
    padding-top: 100px;
    background-color: #333;
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 26px;
  }
  .mobileBg1 {
    visibility: visible;
  }

}
@media (max-width: 400px) {
  .music-section {
    top: 970px;
  }
  .info-section {
    top: 330px;
  }
  h2 {
    font-size: 21px;
  }
}
@media (max-width: 389px) {

}
