<div id="onPage-view-name">Hem</div>
<div class="container page-container">
  <h1 class="partialHeader">Startsida <span class="glyphicon glyphicon-home" aria-hidden="true"></span></h1>
  <div class="row rowPost">
    <div class="col-sm-6 col-md-4 col-lg-4">
      <h3>Sök på böcker</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      <p><a href="#/search" class="btn btn-default" role="button">Sök på böcker</a></p>
    </div><!-- /col -->
    <div class="col-sm-6 col-md-4 col-lg-4">
      <h3>Inspirerande titel</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      <p><a href="#" class="btn btn-default" role="button">Läs mer</a></p>
    </div><!-- /col -->
    <div class="col-sm-6 col-md-4 col-lg-4">
      <h3>Behöver du hjälp?</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      <p><a href="#/help" class="btn btn-default" role="button">Hjälp mig</a></p>
    </div><!-- /col -->
  </div><!-- /row & rowPost -->
  <hr>
  <footer>
    <p>© 2016 Jonatan Östling, Inc.</p>
  </footer>
</div><!-- /container & page-container -->
<script src="scripts/onPageViewName.js" charset="utf-8"></script>
